<!DOCTYPE html>
<html>
  <head>
    <title>More-Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--link type="text/css" rel="stylesheet" href="./css/materialize.css"  media="screen, projection"/-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="./css/custom.css"  media="screen, projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="background-color: #FAFAFA; color: rgba(0,0,0, 0.54)">
    <div class="container">
        <div class="row nav-link">
            <div class="col s6 m6 l6 caption" style="direction: ltr; margin: 0px; padding: 0px">
                <label class="header">More-Recipes</label>
            </div>
            <div class="cols s6 m6 l6" 
            style="direction: rtl; color: #26a69a">
                <a href="account.html?action=signin" style="color: #26a69a">Signin</a> | 
                <a href="account.html?action=signup" style="color: #26a69a">Signup</a>
            </div>
        </div>
        <div class="row">
            <!-- Left section-->
            <div class="col s8 m8 l8">
                <div class="row">
                    <div class="col s10 search-wrap-div" style="padding: 0px">
                        <input type="search" placeholder="Search more-recipes..." style="margin: 0px">
                    </div>
                    <div class="col s4"></div>
                </div>
                <div class="row">
                    <!--content-->
                    <div class="col s12">
                        <div class="row">
                            <div class="col s5">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="./images/roast_chicken.jpg">
                                    </div>
                                    <div class="card-content" style="padding: 5px 10px">
                                        <span class="card-title activator grey-text text-darken-4"
                                         style="font-size: 12px">Fruit Salad</span>
                                        <p style="font-size: 11px"><a href="#">View details</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s5">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="./images/fish_and_chips.jpg">
                                    </div>
                                    <div class="card-content" style="padding: 5px 10px">
                                        <span class="card-title activator grey-text text-darken-4"
                                            style="font-size: 12px">Fish and chips</span>
                                        <p style="font-size: 11px"><a href="#">View details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s5">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="./images/fish_and_chips.jpg">
                                    </div>
                                    <div class="card-content" style="padding: 5px 10px">
                                        <span class="card-title activator grey-text text-darken-4"
                                            style="font-size: 12px">Fruit Salad</span>
                                        <p style="font-size: 11px"><a href="#">View details</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s5">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="./images/Firecracker-Shrimp.jpg">
                                    </div>
                                    <div class="card-content" style="padding: 5px 10px">
                                        <span class="card-title activator grey-text text-darken-4"
                                            style="font-size: 12px">Fish and chips</span>
                                        <p style="font-size: 11px"><a href="#">View details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s5">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="./images/fruit_salad.jpg">
                                    </div>
                                    <div class="card-content" style="padding: 5px 10px">
                                        <span class="card-title activator grey-text text-darken-4"
                                            style="font-size: 12px">Fruit Salad</span>
                                        <p style="font-size: 11px"><a href="#">View details</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s5">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="./images/fish_and_chips.jpg">
                                    </div>
                                    <div class="card-content" style="padding: 5px 10px">
                                        <span class="card-title activator grey-text text-darken-4"
                                            style="font-size: 12px">Fish and chips</span>
                                        <p style="font-size: 11px"><a href="#">View details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12"></div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="waves-effect"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!">6</a></li>
                            <li class="waves-effect"><a href="#!">7</a></li>
                            <li class="active"><a href="#!">9</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Right section-->
            <div class="col s4 m4 l4">
                <div class="row"><center>Top 10 Most Popular Recipes</center></div>
                <div class="row" style="padding: 10px">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/rice.jpg">
                            <span class="card-title">Dessert Baklava</span>
                        </div>
                        <div class="card-content" style="font-size:12px">
                            <p>Nothing can satisfy your taste more than this...</p>
                        </div>
                        <div class="card-action" style="padding: 12px">
                            <a href="#" style="font-size: 11px; padding: 5px 5px">View details</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="images/dessert_baklava.jpg">
                        <span class="card-title">Dessert Baklava</span>
                    </div>
                    <div class="card-content" style="font-size:12px">
                        <p>You eat with your eyes first...</p>
                    </div>
                    <div class="card-action" style="padding: 10px">
                        <a href="#" style="font-size: 11px; padding: 5px 5px">View details</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="images/dessert_baklava.jpg">
                        <span class="card-title">Dessert Baklava</span>
                    </div>
                    <div class="card-content" style="font-size:12px">
                        <p>You eat with your eyes first...</p>
                    </div>
                    <div class="card-action" style="padding: 10px">
                        <a href="#" style="font-size: 11px; padding: 5px 5px">View details</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/jquery-3.2.1.slim.js"></script> 
    <!--script src="./js/materialize.js"></script--> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
    <script src="./js/script.js"></script>
  </body>
</html>
