.wrap {
    border: 1px solid grey;  
}
.shadow {
    margin-top: 50px;
    -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
}

.hide{
    display: none;
}

.notice {
    color: darkred; 
}

form.account {
    margin-bottom: 80px;
    padding-top: 40px;
}

form.account div.row {
    margin-bottom: 5px
}

a.recovery  {
    margin: 10px 0px;
    font-size: 12px; 
    color: brown; 
    float: right
}
div.toggle_account {
    margin: 10px 0px;
    direction: rtl; 
    color: gray; 
    font-size: 12px
}

.nav-link{
    margin-top: 20px;
}

a.back,
a.account {
    margin: 15px 0px;
    color:#26a69a;
}

form.account input[type='email'],
form.account input[type='password'],
form.account input[type='text'] {
    margin-bottom: 0px; 
    height: 35px;
}

.caption label.header{
    font-size: 20px;
    color: #26a69a;
    font-weight: bold;
}
.caption label.action{
    font-size: 14px;
    color:  #26a69a;
    font-weight: bold
}
span.notice{
    font-size: 11px;
}

input[type='search'] {
    padding: 0px;
    margin: 0px; 
    text-indent: 10px;
}

.search-wrap-div{
    border: 1px solid rgb(235, 235, 235);
    padding: 0px 0px; 
    margin: 0px; 
    background: #ffffff;
}